body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(jardin.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html, body {
    height: 100%; /* Asegura que el body ocupe el 100% de la altura */
    margin: 0; /* Elimina márgenes */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
}
h1{
    color: white;
}
p{
    color: white;
}
main {
    flex: 1; /* Hace que el main ocupe el espacio disponible */
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}
